/* Aplicado em todos os elementos do site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Parte visual do body */
body {
    background-color: #363636;
    /* Cor de fundo cinza escuro */
}

/* Estrutura do grid */
body {
    display: grid;
    /* Insinua que estou usando grid para o documento HTML */
    grid-template-areas:
        "cc cc cc"
        "bb oo oo"
        "pp pp pp";
    /* Lugares determinados onde ficarão as colunas */
    grid-gap: 40px;
    /*Espaço entre as colunas */
}

/* Grid do header */
header {
    grid-area: cc;
}

/* Grid do aside */
aside {
    grid-area: bb;
}

/* Grid do main */
main {
    grid-area: oo;
}

/* Grid do footer */
footer {
    grid-area: pp;
}

/* Parte visual do header */
header {
    background-color: #000000;
    /* Cor de fundo do header preto */
    padding: 10px;
    /* Separação dos elementos do header da borda */
    color: #ffffff;
    /* Cor dos elementos brancos */
}

/* Header */
.container {
    max-width: 1080px;
    /* Tamanho do container */
    display: flex;
    /* Demonstra que está sendo usado flexbox */
    align-items: center;
    /* Centralizar elementos */
    justify-content: space-between;
    /* Espaçamento dos elementos */
}

/* Parte visual da logo*/
.logo img {
    width: 200px;
    /* Tamanho da logo */
}

/* Links */
nav {
    text-align: center;
    /* Centralizar os links */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Fonte de letra */
}

/* Letras dos links */
nav a {
    color: #ffffff;
    /* Cor dos links brancas */
    text-decoration: none;
    /* Tirar a linha que fica em baixo do link azul */
    padding: 30px;
    /* Espaço entre os links */
    font-size: 20px;
    /* Tamanho da letra */
    position: relative;
    /* Posição do elemento */
}

/* Parte visual dos ícones */
.menu img {
    width: 50px;
    /* Tamanho dos ícones */
}

/* Parte visual do aside */
aside {
    background-color: #C0C0C0;
    /* Cor de fundo cinza claro */
}

/* Título do aside */
aside h2 {
    text-align: center;
    /* Centralizar elementos */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Tipo de letra */
}

/* Títulos do main */
main h1 {
    text-align: center;
    /* Centralizar elementos */
    color: #ffffff;
    /* Cor das letras brancas */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Tipo de letra */
}
/* Parte visual do botão do card*/
.cor {
    background-color: #000000;
    /* Botão preto */
    color: #ffffff;
    /* Letras brancas */
    text-decoration: none;
    /* Tirar a linha que fica em baixo do link */
    border-radius: 10px;
    /* Bordas redondas */
}

/* Parte visual dos preços */
.verde {
    color: #008000;
    /* Cor verde dos preços */
}

/* Parte visual do footer */
footer {
    background-color: #000000;
    /* Cor de fundo do footer preto */
    padding: 10px;
    /* Separação dos elementos do footer da borda */
    color: #ffffff;
    /* Cor dos elementos brancos */
}

/* Estrutura do footer */
footer .container {
    display: flex;
    /* Demonstra que está sendo usado flexbox */
}

/* Espaçamento das listas*/
footer .container ul {
    width: 25%;
}

/* Listas*/
li {
    list-style: none;
    /* Tira as bolinhas da lista */
}

/* Lugar dos títulos*/
footer .container h3 {
    margin-bottom: 16px;
    /* Espaço dos títulos do texto */
    font-weight: 600;
}

@media only screen and (max-width: 820px) {
    body{
        grid-template-areas: 
        "cc cc"
        "bb bb"
        "oo oo"
        "pp pp";
        grid-template-columns: 1fr;
        grid-template-rows: 200px 50px 500px 200px;
    }

    header img{
        display: none;
    } 
}

@media only screen and (max-width: 480px) {
    body{
        grid-template-areas: 
        "ss"
        "oo"
        "pp";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 500px 100px;
    }

    section{
        display: flex;
    }

    aside{
        display: none;
    }

    header{
        display: none;
    }
    
}


section {
    grid-area: ss;
}

.nav_mobile ul{
    list-style: none;
    border: pink solid 2px;
    position: absolute;
    top: 50px;
    width: 100%;
}


.nav_mobile img{
    width: 40px;
    border: gray solid 2px;
}


.nav_mobile input[type="checkbox"]{
     display: none;
}


.nav_mobile nav{
    border: red solid;
    width: 350px;
    height: 100vh;
    position: absolute;
    left: -350px;
    transition: all 0.3s;
}


.nav_mobile a{
    border: green solid;
    display: block;
    padding: 20px 5px;
    text-decoration: none;
}


.nav_mobile ul{
    list-style: none;
    border: pink solid 2px;
    position: absolute;
    top: 50px;
    width: 100%;
}


.nav_mobile img{
    width: 40px;
    border: gray solid 2px;
}


.nav_mobile input[type="checkbox"]{
     display: none;
}


.nav_mobile nav{
    border: red solid;
    width: 350px;
}


.nav_mobile label{
    position: absolute;
    z-index: 1;
}


.nav_mobile input[type="checkbox"]:checked ~ nav{
    transform: translateX(350px);
}

.nav_mobile ul{
    list-style: none;
    border: pink solid 2px;
    position: absolute;
    top: 50px;
    width: 100%;
}


.nav_mobile img{
    width: 40px;
    border: gray solid 2px;
}


.nav_mobile input[type="checkbox"]{
     display: none;
}


.nav_mobile nav{
    border: red solid;
    width: 350px;
}

.container_mae{
    display: flex;
    justify-content: center;
    width: 1200px;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
}

    
.card{
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: 20px;
    text-align: center;
    background-color: #ffffff;
}

.card img {
    width: 200px;
    border-radius: 10px;
}

.texto a{
    display: block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
    text-decoration: none;
 }

/*-----------------------------------------------------------------------------------------------------------*/

/* Formulário */

/* Parte visual do formulário */
.cor_formulario {
    background-color: #C0C0C0;
    /* Cor de fundo da borda cinza claro */
    border-radius: 10px;
    /* Bordas redondas */
}


label {
    font-weight: bold;
}


.letra_normal label {
    font-weight: 100;
}


.bloco label {
    display: block;
}


.bloco {
    float: left;
    margin-right: 5px;
}


input, select, textarea, button {
    border-radius: 5px;
    color: #000000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}


.letra_normal input {
    box-shadow: none;
}


fieldset {
    border: 0;
}

/* Parte visual do botão */
button {
    background-color: #000000;
    /* Cor do botão preto */
    color: #ffffff;
    /* Cor das letras brancas */
}

/*-----------------------------------------------------------------------------------------------------------*/

/* Carrinho */

/* Parte visual do carrinho */
.borda {
    border: 2px #000000 solid;
    background-color: #ffffff;
}