/* Parte visual do body */
body {
    background-color: #1395e0;
    margin: 0;
}

/* Estrutura do grid */
body {
    display: grid;
    grid-template-areas:
        "cc cc cc"
        "bb oo oo"
        "pp pp pp";
    grid-gap: 20px;
    grid-template-columns: auto auto 30%;
}

/* Header */
.cabeca {
    grid-area: cc;
}

/* Aside */
.bracos {
    grid-area: bb;
}

/* Main */
.corpo {
    grid-area: oo;
}

/* Footer */
.pernas {
    grid-area: pp;
}

/* Parte visual do header */
header {
    background-color: #363636;

}

/* Parte visual do formulário */
.headera {
    text-decoration: none;
    font-size: x-large;
    transition: 0.5s;
    color: white;
}

.headera:hover {
    color: #1395e0;
    padding-bottom: 0;
    font-size: x-large;
    border-bottom: 5px solid #1395e0;
}

/* Parte visual do footer */
footer {
    background-color: #363636;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/* Formulário */


