/* Página principal */

/* Fonte das letras */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Aplicado em todos os elementos do site */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estrutura do grid */
.pagina_principal {
    display: grid;
    grid-template-areas:
        "cabeca cabeca cabeca"
        "braco corpo corpo"
        "perna perna perna";
    grid-template-columns: 400px auto auto;
    grid-template-rows: 125px, auto 215px;
    grid-gap: 2rem;
}

/* Cabeçalho */
header {
    grid-area: cabeca;
}

/* Conjuntos */
aside {
    grid-area: braco;
}

/* Camisas */
main {
    grid-area: corpo;
}

/* Rodapé */
footer {
    grid-area: perna;
}

/* Parte visual do header */
header {
    background-color: #000000;
    color: #ffffff;
}

/* Deixa o header estático (se mexe com a página) */
header {
    position: sticky;
    top: 0;
}

/* Estrutura dos conjuntos */
aside {
    display: flex;
    flex-wrap: wrap;
}

/* */
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

/* */
.navbar a {
    text-decoration: none;
    color: inherit;
}

/* */
.logo {
    margin-right: 50px;
}

/* */
.list {
    list-style: none;
    display: flex;
    gap: 25px;
}

/* */
#toggler, .navbar label {
    display: none;
}

/* Tamanho dos ícones */
li img {
    width: 50px;
}

/* ---------------------------------------------------------------------------------------------------------------------*/
/* Menu */

section {
    display: none;
}

/* Modificação nas listas do Menu. Ex: "Perfil, Brasileirão, Europeus, Seleções e Configurações" */
.nav_mobile ul {
    list-style: none;
    position: absolute;
    top: 50px;
    width: auto;
}

/* Tamanho da imagem do Menu e distância da borda */
.nav_mobile img {
    width: 40px;
    margin-top: 3px;
}

/* Remoção a caixinha com o desenho de certinho */
.nav_mobile input[type="checkbox"] {
    display: none;
}

/* Parte visual dos links do Menu */
nav ul li a {
    color: #ffffff;
    font-size: 17px;
}

/* Parte visual da borda preta que fica em volta dos links */
.nav_mobile nav {
    background-color: #000000;
    width: 350px;
    height: 100vh;
    position: absolute;
    left: -350px;
    transition: all 0.3s;
}

/* Modificação dos links. Ex: "Perfil, Brasileirão, Europeus, Seleções e Configurações" */
.nav_mobile a {
    display: block;
    padding: 20px 5px;
    text-decoration: none;
    width: auto;
    height: auto;
}

/* Parte visual do quadradinho (que está escondido dentro da imagem dos "três barras")*/
.nav_mobile label {
    position: absolute;
    z-index: 1;
}

/* Faça que o Menu seja clicável */
.nav_mobile input[type="checkbox"]:checked~nav {
    transform: translateX(350px);
}

/* ---------------------------------------------------------------------------------------------------------------------*/
/* Barra de pesquisa */

/* Parte visual da "Barra de Pesquisa" */
.search-container {
    width: 490px;
    display: block;
    margin: 0 auto;
}

/* Estrutura da "Barra de Pesquisa" */
input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    border-radius: 20px;

    /* Parte visual da barra */
    &:focus {
        border: 1px solid #000000;
        transition: 0.35s ease;
        color: #000000;

        &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &:-ms-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}

/* Posicionamento da "Barra de Pesquisa */
.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
}

/* ---------------------------------------------------------------------------------------------------------------------*/
/* Estrutura das camisas */
main {
    display: flex;
    flex-wrap: wrap;
}

/* Estrutura dos cards*/
.elemento_pai {
    display: flex;
    justify-content: center;
    width: 1200px;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
}

/* Cards das camisas*/
.card {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: 35px;
    text-align: center;
    background-color: #ffffff;
}

/* Cor dos cards dos conjuntos */
#cinza {
    background-color: #DCDCDC;
}

/* Imagem dos cards*/
.card img {
    width: 250px;
    border-radius: 10px;
}

/* Parte visual dos preços */
.verde {
    /* Cor verde dos preços */
    color: #008000;
}

/* Botão "Saiba mais"*/
.texto a {
    display: block;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
}

/* Cor do botão em transição*/
.texto a:hover {
    background-color: green;
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* Rodapé */
footer {
    /* Cor de fundo preto */
    background-color: #000000;
    /* Espaçamento da borda */
    padding: 50px 0;
    /* Cor das letras brancas */
    color: #ffffff;
}

/* Footer inteiro por dentro */
.container-footer {
    max-width: 1400px;
    /* Espaçamento da borda */
    padding: 0 4%;
    /* Margem automática */
    margin: auto;
}

/* Listas do footer */
.row-footer {
    /* Insinua ao class que estou utilizando flexbox */
    display: flex;
    flex-wrap: wrap;
}

/* Espaçamento das listas do footer */
.footer-col {
    /* Largura */
    width: 25%;
    /* Espaçamento */
    padding: 0 15px;
}

/* Títlos das listas */
.footer-col h4 {
    /* Tamanho da letra */
    font-size: 22px;
    /* Cor da letra */
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

/* Lista */
.footer-col ul {
    /* Tiras as bolinhas da lista */
    list-style: none;
}

/* Informações dentro da lista */
.footer-col ul li {
    /* Espaçamento para não ficarem grudados em baixo do outro */
    margin: 10px 0;
}

/* Animação dos links */
.footer-li ul li a {
    /* Tamanho da letra */
    font-size: 16px;
    text-decoration: capitalize;
    /* Cor da letra */
    color: #ffffff;
    /* Tira as barras dos links */
    text-decoration: none;
    font-weight: 300;
    /* Insinua ao class que estou utilizando block */
    display: block;
    transition: all 0.3s ease;
}

.footer-li ul li a:hover {
    /* Cor da letra */
    color: #ffffff;
    padding-left: 10px;
}

/* Posicionamento dos botões*/
#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}

/* Personalização dos botões*/
#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Altura */
    height: 2.5rem;
    /* Largura */
    width: 2.5rem;
    color: var(--color-neutral-40);
    /* Borda das redes-sociais */
    border-radius: 50%;
    /* Tempo de transição da opacidade das redes sociais */
    transition: all 0.4s;
    /* Tira as barras dos links */
    text-decoration: none;
}

/* Tamanho dos ícones*/
#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

/* Tempo da opacidade dos ícones*/
#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

/* Cor do Instagram*/
#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff980f);
}

/* Cor do Facebook*/
#facebook {
    background-color: #4267b3;
}

/* Cor do Twitter */
#twitter {
    background-color: #6495ED;
}

/* ---------------------------------------------------------------------------------------------------------------------*/
/* Página do produto */

/* Estrutura do grid */
.pagina_produto {
    display: grid;
    grid-template-areas:
        "cabeca cabeca cabeca"
        "braco corpo corpo"
        "perna perna perna";
    grid-template-columns: 400px auto auto;
    grid-template-rows: 125px, auto 215px;
    grid-gap: 2rem;
}

/* Espaço da borda e dos lados */
.espaco_borda {
    margin-top: 20px;
    margin-left: 20px;
}


/* Camisa da página dos produtos */
#sem-borda {
    border: none;
}

/* Borda do tamanho */
fieldset {
    border: 0;
}

/* Botão de selecionar */
#tamanho {
    border-radius: 10px;
    background-color: #ffffff;
}

/* Botão de selecionar */
#personalizar {
    border-radius: 10px;
    background-color: #ffffff;
}

/* Botão de selecionar */
#quantidade {
    border-radius: 10px;
    background-color: #ffffff;
}


/* ---------------------------------------------------------------------------------------------------------------------*/
/* Página do formulário */

/* Estrutura do grid */
.pagina_formulario {
    display: grid;
    grid-template-areas:
        "cabeca cabeca cabeca"
        "braco corpo corpo"
        "perna perna perna";
    grid-template-columns: 400px auto auto;
    grid-template-rows: 125px, auto 215px;
    grid-gap: 2rem;
}

.pagina_formulario {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Formato fora do formulário */
.box {
    display: flex;
    width: 930px;
}

/* Formato dentro do formulário */
.form-box {
    background-color: #ffffff;
    padding: 30px 40px;
    width: 50%;
    border-radius: 20px;
    border: 2px #000000 solid;
}

/* Parte visual do "Criar uma conta" */
.form-box h2 {
    font-size: 30px;
}

/* Parte visual do "Já possui uma conta?" */
.form-box p {
    font-weight: bold;
    color: #3D3D3D;
}

/* Palavra "Login" */
.form-box p a {
    color: #008000;
    text-decoration: none;
}

/* Largura do formulario */
.form-box form {
    margin: 20px 0;
}

/* Altura do formulario */
form .input-group {
    margin-bottom: 15px;
}

/* Parte visual das palavras acima das colunas. Ex: "Nome completo, e-mail, telefone, senha e confirmar senha" */
form .input-group label {
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Parte visual das colunas. Ex: "Digite o seu nome completo, digite o seu email, digite o seu telefone, digite a sua senha e confirme a senha  */
form .input-group input {
    width: 100%;
    height: 47px;
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    transition: all 0.4s ease;
}

/* Animação das colunas quando começa a digitar */
form .input-group input:focus {
    border-color: #000000;
}

/* Estrutura da "Senha e Confirmar Senha" */
.w50 {
    width: 50%;
    float: left;
    padding-right: 15px;
}

/* Botão "Cadastrar" */
form .input-group button {
    width: 100%;
    height: 47px;
    background: #000000;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

/* Parte visual do botão "Cadastrar" em transição*/
.animacao_verde:hover {
    background-color: #008000;
}

/* ---------------------------------------------------------------------------------------------------------------------*/
/* Página do carrinho */

/* Estrutura do grid */
.pagina_carrinho {
    display: grid;
    grid-template-areas:
        "cabeca cabeca cabeca"
        "braco corpo corpo"
        "perna perna perna";
    grid-template-columns: 400px auto auto;
    grid-template-rows: 125px, auto 215px;
    grid-gap: 2rem;
}

/* ---------------------------------------------------------------------------------------------------------------------*/
/* Responsivivdade */

/* Tela de computador */
@media (max-width:2000px) {

    /* Remoção da lupa */
    .lupa {
        display: none;
    }
}

/* Tela de tablet */
@media (max-width:820px) {

    /* Aparição do <section> */
    section {
        display: block;
    }

    .box {
        width: 700px;
    }

    .form-box {
        width: 100%;
        border-radius: 20px;
    }

    /* Aparição da lupa */
    .lupa {
        display: block;
    }

    /* Remoção da logo */
    .logo {
        display: none;
    }

    /* Remoção da barra de pesquisa */
    .search-container {
        display: none;
    }

    /* Remoção do ícone do carrinho */
    .icone_carrinho {
        display: none;
    }

    /* Remoção do ícone de login */
    .icone_login {
        display: none;
    }

    /* Remoção das camisas */
    #id_camisas {
        display: none;
    }

    section {
        display: flex;
    }
}

/* Tela de celular */
@media (max-width:480px) {

    /* Aparição do <section> */
    section {
        display: block;
    }

    .w50 {
        width: 100%;
        padding: 0;
    }

    /* Aparição da lupa */
    .lupa {
        display: block;
    }

    /* Remoção da logo */
    .logo {
        display: none;
    }

    /* Remoção da barra de pesquisa */
    .search-container {
        display: none;
    }

    /* Remoção do ícone do carrinho */
    .icone_carrinho {
        display: none;
    }

    /* Remoção do ícone de login */
    .icone_login {
        display: none;
    }

    /* Remoção das camisas */
    #id_camisas {
        display: none;
    }

    section {
        display: flex;
    }
}